* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 960px;
  margin: 0 auto;
}

.div-flex {
  margin: 30px 250px;
}
.div-color {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 20px;
}

.color-name {
  align-self: center;
}

.input-text {
  width: 80px;
  justify-self: right;
}

#result-area {
  width: 150px;
  height: 150px;
  border: black 3px solid;
  margin: 0 auto;
}
